alabaster==0.7.16
annotated-types==0.6.0
arrow==1.3.0
astroid==3.0.2
asttokens==2.4.1
atomicwrites==1.4.1
attrs==23.2.0
autopep8==2.0.4
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==23.12.1
bleach==6.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
confection==0.1.4
cookiecutter==2.5.0
cryptography==41.0.7
cupy-cuda12x==12.3.0
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cymem==2.0.8
de-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.7.2/de_dep_news_trf-3.7.2-py3-none-any.whl#sha256=3fb898b58c3647aa157e8b3ceb7acb43499f27e6d2f8a23f4c130f9c3de32cd4
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
dill==0.3.7
docstring-to-markdown==0.13
docutils==0.20.1
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
fastrlock==0.8.2
fasttext-wheel==0.9.2
filelock==3.9.0
flake8==6.1.0
fsspec==2023.12.2
h11==0.14.0
huggingface-hub==0.20.2
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.29.0
ipython==8.18.1
isort==5.13.2
jaraco.classes==3.3.0
jedi==0.19.1
jellyfish==1.0.3
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
keyring==24.3.0
langcodes==3.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
mpmath==1.3.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.9
networkx==3.0
nltk==3.8.1
numpy==1.24.1
numpydoc==1.6.0
opensearch-py==2.4.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==4.1.0
pluggy==1.3.0
preshed==3.0.9
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.11.1
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydocstyle==6.3.0
pyflakes==3.1.0
Pygments==2.17.2
pylint==3.0.3
pylint-venv==3.0.3
pyls-spyder==0.4.0
PyNaCl==1.5.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.9.0
python-slugify==8.0.1
pytoolconfig==1.3.1
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.2
QDarkStyle==3.2.3
qstylizer==0.2.2
QtAwesome==1.3.0
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.32.1
regex==2023.12.25
requests==2.31.0
rich==13.7.0
rope==1.11.0
rpds-py==0.17.1
Rtree==1.1.0
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
selenium==4.16.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-curated-transformers==0.2.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_fastlang==2.1.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
spyder==5.5.0
spyder-kernels==2.5.0
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
text-unidecode==1.3
textdistance==4.6.1
thinc==8.2.2
threadpoolctl==3.2.0
three-merge==0.1.1
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.3
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchvision==0.16.2+cu121
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.36.2
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
tzdata==2023.4
ujson==5.9.0
urllib3==2.1.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.13
weasel==0.3.4
webdriver-manager==4.0.1
webencodings==0.5.1
whatthepatch==1.0.5
wsproto==1.2.0
yapf==0.40.2
zipp==3.17.0
